.keyboard {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 450px;
    gap: 6px;
}

.keyboard-button {
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 600;
    color: #1E1E1E;
    background-color: #FCBA29;
    border: 1px solid #D7D7D7;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}