:root {
  font-family: Inter, sans-serif;
  color-scheme: light dark;
  
  
}

body {
  margin: 0;
  background-color: #0B2434;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}